In [200]:
numbers1= "one two three four five six seven eight nine"
numbers2= "twenty thirty forty fifty sixty seventy eighty ninety"
numbers3= "onehundred twohundred threehundred fourhundred fivehundred sixhundred sevenhundred eighthundred ninehundred"
numbers4= "ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen"


n1 = numbers1.split()
n2 = numbers2.split()
n3 = numbers3.split()
n4 = numbers4.split()


print(n1)
print(n2)
print(n3)
print(n4)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']
['onehundred', 'twohundred', 'threehundred', 'fourhundred', 'fivehundred', 'sixhundred', 'sevenhundred', 'eighthundred', 'ninehundred']
['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']

In [292]:
#For numbers < 100

def num_to_word1(num):
    last_d=num%10
    first_d=num//10
    
    if num < 10:
        for i in range(1,10):
            if i == last_d:
                return n1[i-1]
    elif num==10:
        return "ten"
    elif num >10 and num < 20:
        for l in range(1,10):
            if l == last_d:
                return n4[l]
    
    elif num==90:
        return "ninety"
    elif last_d==0:
        for m in range(1,9):
            if m == first_d:
                return n2[m-2]
    
    else :
        for i in range(1,10):
            if i ==first_d:
                first_word=n2[i-2]
                
        for j in range(1,10):
            if j ==last_d:
                last_word=n1[j-1]
                
                return (first_word+last_word)

In [293]:
#for numbers < 1000


def num_to_word2(num):
    last_d=num%10
    middle_d=(num%100)//10
    first_d=num//100
    
    if(num < 100):
        return num_to_word1(num)
    
   

    elif(num >= 100 and num < 1000):
        for a in range(1,10):
            if a ==first_d:
                first_word=n3[a-1]
                
        for b in range(1,10):
            if b ==last_d:
                last_word=n1[b-1]
        
        for k in range(1,10):
            if k == middle_d and k != 1:
                middle_word=n2[k-2]
            elif k == middle_d and k == 1:
                middle_word=n4[last_d]
        
        
        if middle_d==0 and last_d==0:
            return(first_word)
        
        elif middle_d==1:
            return (first_word + "and" + middle_word)
        
        elif middle_d==0:
            return (first_word + "and" + last_word)
        
        elif last_d==0:
            return(first_word + "and" + middle_word)
        
        else:
            return (first_word + "and" + middle_word + last_word)
    
        
        
        
        
    
    else:
        if num==1000:
            return 'onethousand'

In [296]:
num_to_word1(90)

'ninety'

In [310]:
words=[num_to_word2(n) for n in range(1,1001)]

In [311]:
w = "".join(words)

In [312]:
len(w)

21124